<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.odor.menu.system.producttypemgmt.mapper.ProductTypeMgmtMapper">

    <select id="getProductTypeListAll" resultType="ProductTypeVO">
        /* 제품타입 키,명 전체 조회 */
        <![CDATA[
            SELECT PT.PRODUCT_TYPE_KEY                      AS PRODUCT_TYPE_KEY
                 , IFNULL(CM.MESSAGE, PT.PRODUCT_TYPE_NAME) AS PRODUCT_TYPE_NAME
                 , IFNULL(CM.MESSAGE, PT.PRODUCT_TYPE_NAME) AS LOCALE_MESSAGE
              FROM PRODUCT_TYPE PT
              LEFT
              JOIN COUNTRY_MESSAGE CM
                ON CM.MESSAGE_ID = PT.PRODUCT_TYPE_MESSAGE
               AND CM.COUNTRY_CODE = #{locale}
               AND PT.USE_YN = 1
              LEFT
              JOIN MESSAGE_GROUP MG
                ON MG.MESSAGE_ID = CM.MESSAGE_ID
               AND MG.USE_YN = 1
        ]]>
    </select>

    <select id="getProductTypeList" resultType="ProductTypeVO">
        /* 제품타입 조회 */
        SELECT PT.*
             , IFNULL(PT_CM.MESSAGE, PT.PRODUCT_TYPE_NAME)  AS LOCALE_MESSAGE
             , IFNULL(CAT_CM.MESSAGE, CAT.CATEGORY_NAME)    AS CATEGORY_NAME
             , IFNULL(U.NICKNAME, '')                       AS UPDATER_NAME
          FROM PRODUCT_TYPE PT
         INNER
          JOIN CATEGORY CAT
            ON CAT.CATEGORY_ID  = PT.CATEGORY_ID
        <if test="vo.productTypeKey gt 0 and vo.productTypeKey != null">
            AND PT.PRODUCT_TYPE_KEY = #{vo.productTypeKey}
        </if>
        <if test="vo.categoryId != '' and vo.categoryId != null">
            AND CAT.CATEGORY_ID = #{vo.categoryId}
        </if>
        <![CDATA[
               AND PT.USE_YN         = #{vo.useYn}
               AND CAT.USE_YN       = 1
              LEFT
              JOIN COUNTRY_MESSAGE PT_CM
                ON PT_CM.MESSAGE_ID    = PT.PRODUCT_TYPE_MESSAGE
               AND PT_CM.COUNTRY_CODE  = #{vo.locale}
              LEFT
              JOIN MESSAGE_GROUP PT_MG
                ON PT_MG.MESSAGE_ID    = PT_CM.MESSAGE_ID
               AND PT_MG.USE_YN        = 1
              LEFT
              JOIN COUNTRY_MESSAGE CAT_CM
                ON CAT_CM.MESSAGE_ID    = CAT.CATEGORY_MESSAGE
               AND CAT_CM.COUNTRY_CODE  = #{vo.locale}
              LEFT
              JOIN MESSAGE_GROUP CAT_MG
                ON CAT_MG.MESSAGE_ID    = CAT_CM.MESSAGE_ID
               AND CAT_MG.USE_YN        = 1
              LEFT
              JOIN `USER` U
                ON U.USER_ID        = PT.UPDATER_ID
        ]]>
    </select>

    <select id="checkDuplication" resultType="Integer">
        /* 중복체크 */
        SELECT COUNT(1)
          FROM PRODUCT_TYPE
         WHERE CATEGORY_ID          = #{vo.categoryId}
           AND PRODUCT_TYPE_NAME    = #{vo.productTypeName}
        <if test="vo.productTypeKey gt 0 and vo.productTypeKey != null">
           AND PRODUCT_TYPE_KEY    <![CDATA[<>]]> #{vo.productTypeKey}
        </if>
    </select>

    <update id="deleteProductType">
        /* 제품타입 삭제 */
        UPDATE PRODUCT_TYPE
           SET USE_YN           = 0
             , UPDATE_DATE      = UTC_TIMESTAMP()
             , UPDATER_ID       = #{vo.updaterId}
         WHERE PRODUCT_TYPE_KEY = #{vo.productTypeKey}
    </update>

    <update id="updateProductType">
        /* 제품타입 수정 */
        UPDATE PRODUCT_TYPE
           SET USE_YN               = #{vo.useYn}
             , CATEGORY_ID          = #{vo.categoryId}
             , PRODUCT_TYPE_NAME    = (
                                            SELECT CM.MESSAGE
                                              FROM COUNTRY_MESSAGE CM
                                             WHERE CM.COUNTRY_CODE  = 'ENG'
                                               AND CM.MESSAGE_ID    = #{vo.productTypeMessage}
                                      )
             , PRODUCT_TYPE_MESSAGE = #{vo.productTypeMessage}
             , `DESC`               = #{vo.desc}
             , UPDATE_DATE          = UTC_TIMESTAMP()
             , UPDATER_ID           = #{vo.updaterId}
         WHERE PRODUCT_TYPE_KEY = #{vo.productTypeKey}
    </update>

    <insert id="insertProductType">
        /* 제품타입 신규 생성 */
        INSERT
          INTO PRODUCT_TYPE
               (
                    CATEGORY_ID,
                    PRODUCT_TYPE_NAME,
                    PRODUCT_TYPE_MESSAGE,
                    `DESC`,
                    USE_YN,
                    CREATOR_ID,
                    CREATE_DATE,
                    UPDATER_ID,
                    UPDATE_DATE
               )
        VALUES (
                    #{vo.categoryId},
                    #{vo.productTypeName},
                    #{vo.productTypeMessage},
                    #{vo.desc},
                    #{vo.useYn},
                    #{vo.creatorId},
                    UTC_TIMESTAMP(),
                    #{vo.updaterId},
                    UTC_TIMESTAMP()
               )
    </insert>

</mapper>