./.idea
/src/

./back/src/main/resources/logs
./back/target
./back/*.iml

./front/node_modules
./front/package-lock.json
./front/*.iml
/back/.mvn/
.idea/
back/src/main/java/com/back/odor/menu/about/
back/src/main/java/com/back/odor/menu/forum/
back/src/main/java/com/back/odor/menu/home/
back/src/main/java/com/back/odor/menu/perfume/
back/src/main/java/com/back/odor/menu/system/creatormgmt/
back/src/main/java/com/back/odor/menu/system/ingredientmgmt/
back/src/main/java/com/back/odor/menu/system/membershipmgmt/
back/src/main/java/com/back/odor/menu/system/productmgmt/
back/src/main/java/com/back/odor/menu/system/producttypemgmt/
back/src/main/java/com/back/odor/menu/system/ratingitemmgmt/
back/src/main/resources/db/
back/src/main/resources/logs/log.log
back/src/main/resources/logs/log.log.2020-04-12.0.gz
back/src/main/resources/static/
back/src/main/resources/templates/
back/src/test/java/com/back/odor/common/filters/
back/src/test/java/com/back/odor/common/session/mapper/
back/src/test/java/com/back/odor/menu/
front/src/assets/css/
front/src/assets/utils/
src/main/java/com/back/odor/menu/about/
src/main/java/com/back/odor/menu/forum/
src/main/java/com/back/odor/menu/home/
src/main/java/com/back/odor/menu/perfume/
src/main/java/com/back/odor/menu/system/creatormgmt/
src/main/java/com/back/odor/menu/system/ingredientmgmt/
src/main/java/com/back/odor/menu/system/membershipmgmt/
src/main/java/com/back/odor/menu/system/productmgmt/
src/main/java/com/back/odor/menu/system/producttypemgmt/
src/main/java/com/back/odor/menu/system/ratingitemmgmt/
src/main/resources/db/
src/main/resources/logs/log.log
src/main/resources/logs/log.log.2020-04-12.0.gz
src/main/resources/static/
src/main/resources/templates/
src/test/java/com/back/odor/common/filters/
src/test/java/com/back/odor/common/session/mapper/
src/test/java/com/back/odor/menu/
