<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.odor.menu.system.brandmgmt.mapper.BrandMgmtMapper">

    <select id="getBrandList" resultType="BrandVO">
        /* 브랜드 목록 조회 */
        SELECT B.*
             , IFNULL(IFNULL(CM.MESSAGE, C.COUNTRY_NAME), '')   AS COUNTRY_NAME
             , IFNULL(U.NICKNAME, '')                           AS UPDATER_NAME
          FROM BRAND B
          LEFT
          JOIN COUNTRY C
            ON C.COUNTRY_CODE = B.COUNTRY_CODE
           AND C.USE_YN       = 1
          LEFT
          JOIN COUNTRY_MESSAGE CM
            ON CM.MESSAGE_ID    = C.COUNTRY_MESSAGE
           AND CM.COUNTRY_CODE  = #{vo.locale}
          LEFT
          JOIN MESSAGE_GROUP MG
            ON MG.MESSAGE_ID    = CM.MESSAGE_ID
           AND MG.USE_YN        = 1
          LEFT
          JOIN `USER` U
            ON U.USER_ID     = B.UPDATER_ID
        <where>
            B.USE_YN = #{vo.useYn}
            <if test="vo.countryCode != '' and vo.countryCode != null">
                AND B.COUNTRY_CODE = #{vo.countryCode}
            </if>
            <if test="vo.brandKey gt 0 and vo.brandKey != null">
                AND B.BRAND_KEY = #{vo.brandKey}
            </if>
            <if test="vo.link != '' and vo.link != null">
                AND UPPER(B.LINK) LIKE CONCAT('%', UPPER(#{vo.link}), '%')
            </if>
        </where>
    </select>

    <select id="getBrandListAll" resultType="BrandVO">
        /* 브랜드 목록 전체 조회 */
        SELECT B.BRAND_KEY        AS BRAND_KEY
             , B.NAME             AS NAME
             , IFNULL(B.LINK, '') AS LINK
          FROM BRAND B

         UNION

        SELECT B.BRAND_KEY              AS BRAND_KEY
             , IFNULL(B.ENG_NAME, '')   AS NAME
             , IFNULL(B.LINK, '')       AS LINK
          FROM BRAND B
    </select>

    <select id="checkDuplication" resultType="Integer">
        /* 브랜드 중복체크 */
        SELECT COUNT(1)
          FROM BRAND
         WHERE UPPER(`NAME`)  = UPPER(#{vo.name})
           AND COUNTRY_CODE = #{vo.countryCode}
        <if test="vo.brandKey gt 0 and vo.brandKey != null">
            AND BRAND_KEY <![CDATA[<>]]> #{vo.brandKey}
        </if>
    </select>

    <insert id="insertBrand">
        /* 브랜드 신규 생성 */
        INSERT
          INTO BRAND
               (
                   COUNTRY_CODE,
                   `NAME`,
                   ENG_NAME,
                   LINK,
                   `DESC`,
                   USE_YN,
                   CREATOR_ID,
                   CREATE_DATE,
                   UPDATER_ID,
                   UPDATE_DATE
               )
        VALUES (
                   #{vo.countryCode},
                   #{vo.name},
                   #{vo.engName},
                   #{vo.link},
                   #{vo.desc},
                   1,
                   #{vo.creatorId},
                   UTC_TIMESTAMP(),
                   #{vo.updaterId},
                   UTC_TIMESTAMP()
               )
    </insert>

    <update id="updateBrand">
        /* 브랜드 수정 */
        UPDATE BRAND
           SET COUNTRY_CODE = #{vo.countryCode}
             , `NAME`       = #{vo.name}
             , ENG_NAME     = #{vo.engName}
             , LINK         = #{vo.link}
             , `DESC`       = #{vo.desc}
             , USE_YN       = #{vo.useYn}
             , UPDATER_ID   = #{vo.updaterId}
             , UPDATE_DATE  = UTC_TIMESTAMP()
         WHERE BRAND_KEY = #{vo.brandKey}
    </update>

    <update id="deleteBrand">
        /* 브랜드 삭제 */
        UPDATE BRAND
           SET USE_YN      = 0
             , UPDATER_ID  = #{vo.updaterId}
             , UPDATE_DATE = UTC_TIMESTAMP()
         WHERE BRAND_KEY = #{vo.brandKey}
    </update>

    <select id="getMappedCategoryList" resultType="BrandCategoryMapperVO">
        /* 매핑된 카테고리 목록 조회 */
        SELECT BCM.CATEGORY_ID
          FROM BRAND_CATEGORY_MAPPER BCM
         INNER
          JOIN CATEGORY C
            ON C.CATEGORY_ID        = BCM.CATEGORY_ID
           AND BCM.BRAND_KEY        = #{brandKey}
           AND C.USE_YN             = 1
    </select>

    <delete id="deleteMapping">
        /* 매핑 삭제 */
        DELETE
          FROM BRAND_CATEGORY_MAPPER
         WHERE BRAND_KEY = #{brandKey}
    </delete>

    <insert id="insertMapping">
        /* 매핑 신규 등록 */
        INSERT
          INTO BRAND_CATEGORY_MAPPER
               (
                   BRAND_KEY,
                   CATEGORY_ID,
                   CREATOR_ID,
                   CREATE_DATE,
                   UPDATER_ID,
                   UPDATE_DATE
               )
        VALUES (
                   #{vo.brandKey},
                   #{vo.categoryId},
                   #{vo.creatorId},
                   UTC_TIMESTAMP(),
                   #{vo.updaterId},
                   UTC_TIMESTAMP()
               )
    </insert>

</mapper>