<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.odor.menu.system.messagemgmt.mapper.MessageMgmtMapper">

    <select id="getMessageList" resultType="MessageVO">
        /* 공통메세지 목록 조회 */
        SELECT CM.MESSAGE_ID
             , CM.MESSAGE
             , CM.COUNTRY_CODE
          FROM COUNTRY_MESSAGE CM
         INNER
          JOIN MESSAGE_GROUP MG
            ON MG.MESSAGE_ID    = CM.MESSAGE_ID
           AND CM.COUNTRY_CODE  = #{locale}
           AND MG.USE_YN        <![CDATA[<>]]> 0
    </select>

    <select id="getMessageListSearch" resultType="MessageVO">
        /* 공통메세지 목록 조회 */
        SELECT CM.MESSAGE_ID
             , CM.MESSAGE
             , CM.COUNTRY_CODE
          FROM COUNTRY_MESSAGE CM
         INNER
          JOIN MESSAGE_GROUP MG
            ON MG.MESSAGE_ID    = CM.MESSAGE_ID
           AND CM.COUNTRY_CODE  = #{vo.countryCode}
        <if test="vo.messageId != '' and vo.messageId != null">
            AND CM.MESSAGE_ID = UPPER(#{vo.messageId})
        </if>
        <if test="vo.message != '' and vo.message != null">
            AND CM.MESSAGE LIKE CONCAT('%', #{vo.message}, '%')
        </if>
        <choose>
            <when test="vo.useYn != '' and vo.useYn != null">
                AND MG.USE_YN = #{vo.useYn}
            </when>
            <otherwise>
                AND MG.USE_YN <![CDATA[<>]]> 0
            </otherwise>
        </choose>
    </select>

    <insert id="insertMessageGroup">
        /* 공통 메세지 그룹 생성 */
        INSERT
          INTO MESSAGE_GROUP
               (
                    MESSAGE_ID,
                    USE_YN,
                    CREATOR_ID,
                    CREATE_DATE,
                    UPDATER_ID,
                    UPDATE_DATE
               )
        VALUES (
                    UPPER(#{vo.messageId}),
                    1,
                    #{vo.creatorId},
                    UTC_TIMESTAMP(),
                    #{vo.updaterId},
                    UTC_TIMESTAMP()
               )
    </insert>

    <insert id="insertMessage">
        /* 공통 메세지 생성 */
        INSERT
          INTO COUNTRY_MESSAGE
               (
                    MESSAGE_ID,
                    COUNTRY_CODE,
                    MESSAGE,
                    CREATOR_ID,
                    CREATE_DATE,
                    UPDATER_ID,
                    UPDATE_DATE
               )
        VALUES (
                    UPPER(#{vo.messageId}),
                    #{vo.countryCode},
                    #{vo.message},
                    #{vo.creatorId},
                    UTC_TIMESTAMP(),
                    #{vo.updaterId},
                    UTC_TIMESTAMP()
               )
    </insert>

    <select id="getMessageListSystem" resultType="MessageVO">
        /* 메세지 목록 */
        SELECT MG.MESSAGE_ID                                    AS MESSAGE_ID
             , KO.MESSAGE                                       AS KO_MESSAGE
             , ENG.MESSAGE                                      AS ENG_MESSAGE
             , MG.USE_YN                                        AS USE_YN
             , IFNULL(U.NICKNAME, '')                           AS UPDATER_NAME
             , MG.UPDATE_DATE                                   AS UPDATE_DATE
          FROM MESSAGE_GROUP MG
         INNER
          JOIN COUNTRY_MESSAGE KO
            ON KO.MESSAGE_ID    = MG.MESSAGE_ID
        <if test="vo.messageId != '' and vo.messageId != null">
            AND MG.MESSAGE_ID = UPPER(#{vo.messageId})
        </if>
           AND MG.USE_YN        = #{vo.useYn}
           AND KO.COUNTRY_CODE  = 'KO'
         INNER
          JOIN COUNTRY_MESSAGE ENG
            ON ENG.MESSAGE_ID   = MG.MESSAGE_ID
        <if test="vo.message != '' and vo.message != null">
            AND KO.MESSAGE  = CASE WHEN KO.COUNTRY_CODE = #{vo.locale}
                                   THEN #{vo.message}
                                   ELSE KO.MESSAGE
                                    END
            AND ENG.MESSAGE = CASE WHEN ENG.COUNTRY_CODE = #{vo.locale}
                                   THEN #{vo.message}
                                   ELSE ENG.MESSAGE
                                    END
        </if>
           AND ENG.COUNTRY_CODE = 'ENG'
          LEFT
          JOIN `USER` U
            ON U.USER_ID = MG.UPDATER_ID
    </select>

    <select id="checkDuplication" resultType="Integer">
        /* 메세지 중복체크 */
        SELECT COUNT(1)
          FROM MESSAGE_GROUP
         WHERE MESSAGE_ID    = UPPER(#{messageId})
    </select>

    <update id="updateMessageGroup">
        /* 메세지 그룹 수정 */
        UPDATE MESSAGE_GROUP
           SET USE_YN       = #{vo.useYn}
             , UPDATER_ID   = #{vo.updaterId}
             , UPDATE_DATE  = UTC_TIMESTAMP()
         WHERE MESSAGE_ID = UPPER(#{vo.messageId})
    </update>

    <update id="updateMessage">
        /* 메시지 수정 */
        UPDATE COUNTRY_MESSAGE
           SET MESSAGE      = #{vo.message}
             , UPDATER_ID   = #{vo.updaterId}
             , UPDATE_DATE  = UTC_TIMESTAMP()
         WHERE MESSAGE_ID   = UPPER(#{vo.messageId})
           AND COUNTRY_CODE = #{vo.countryCode}
    </update>

    <update id="deleteMessageGroup">
        /* 메시지 삭제 */
        UPDATE MESSAGE_GROUP
           SET USE_YN       = 0
             , UPDATER_ID   = #{vo.updaterId}
             , UPDATE_DATE  = UTC_TIMESTAMP()
         WHERE MESSAGE_ID = UPPER(#{vo.messageId})
    </update>

</mapper>