<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.odor.menu.system.messagemgmt.mapper.MessageMgmtMapper">

    <select id="getMessageList" resultType="MessageVO">
        /* 공통메세지 목록 조회 */
        SELECT CM.MESSAGE_ID
             , CM.MESSAGE
             , C.COUNTRY_CODE
          FROM COUNTRY_MESSAGE CM
         INNER
          JOIN COUNTRY C
            ON C.COUNTRY_CODE = CM.COUNTRY_CODE
           AND C.COUNTRY_CODE = #{locale}
           AND C.USE_YN       <![CDATA[<>]]> 0
    </select>

    <select id="getMessageListSearch" resultType="MessageVO">
        /* 공통메세지 목록 조회 */
        SELECT CM.MESSAGE_ID
             , CM.MESSAGE
             , C.COUNTRY_CODE
          FROM COUNTRY_MESSAGE CM
         INNER
          JOIN COUNTRY C
            ON C.COUNTRY_CODE = CM.COUNTRY_CODE
           AND C.COUNTRY_CODE = #{vo.countryCode}
        <if test="vo.messageId != '' and vo.messageId != null">
            AND CM.MESSAGE_ID = #{vo.messageId}
        </if>
        <if test="vo.message != '' and vo.message != null">
            AND CM.MESSAGE LIKE CONCAT('%', #{vo.message}, '%')
        </if>
        <choose>
            <when test="vo.useYn != '' and vo.useYn != null">
                AND C.USE_YN = #{vo.useYn}
            </when>
            <otherwise>
                AND C.USE_YN <![CDATA[<>]]> 0
            </otherwise>
        </choose>
    </select>

    <insert id="insertMessageGroup">
        /* 공통 메세지 그룹 생성 */

    </insert>

    <insert id="insertMessage">
        /* 공통 메세지 생성 */

    </insert>

</mapper>