<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.odor.menu.system.codemgmt.mapper.CodeMgmtMapper">

    <select id="getCodeList" resultType="CodeVO">
        /* 공통코드 목록 조회 */
        SELECT C.CODE_ID            AS CODE_ID
             , C.CODE_GROUP_ID      AS CODE_GROUP_ID
             , CM.MESSAGE           AS CODE_MESSAGE
          FROM CODE C
         INNER
          JOIN COUNTRY_MESSAGE CM
            ON CM.MESSAGE_ID    = C.CODE_MESSAGE
           AND CM.COUNTRY_CODE  = #{locale}
         INNER
          JOIN COUNTRY CTR
            ON CTR.COUNTRY_CODE = CM.COUNTRY_CODE
           AND CTR.USE_YN       = C.USE_YN
           AND CTR.USE_YN       <![CDATA[<>]]> 0
    </select>

    <select id="getCodeGroupList" resultType="CodeGroupVO">
        /* 공통코드그룹 목록 조회 */
        SELECT G.*
             , C.MESSAGE                                        AS LOCALE_MESSAGE
             , (
                    SELECT U.NICKNAME
                      FROM USER U
                     WHERE U.USER_ID = G.UPDATER_ID
                       AND U.SYS_MNGR_YN <![CDATA[<>]]> 0
               )                                                AS UPDATER_NAME
             , DATE_FORMAT(G.UPDATE_DATE, '%Y-%m-%d %H:%i:%s')  AS UPDATE_DATE
             ,
          FROM CODE_GROUP G
         INNER
          JOIN COUNTRY_MESSAGE C
            ON C.MESSAGE_ID = G.CODE_GROUP_MESSAGE
           AND C.COUNTRY_CODE = #{vo.countryCode}
        <where>
            <if test="vo.codeGroupId != '' and vo.codeGroupId != null">
                AND G.CODE_GROUP_ID = #{vo.codeGroupId}
            </if>
            <if test="vo.codeGroupName != '' and vo.codeGroupName != null">
                AND (
                           G.CODE_GROUP_NAME LIKE CONCAT('%', #{vo.codeGroupName}, '%')
                        OR C.MESSAGE LIKE CONCAT('%', #{vo.codeGroupName}, '%')
                    )
            </if>
            AND G.USE_YN = #{vo.useYn}
        </where>
    </select>

</mapper>